* {
	padding: 0;
	margin: 0;
}
/*---------------Classes Générales---------------*/

.cf:before,
.cf:after {
	display: table;
	content: " ";
}
.cf:after {
	clear: both;
}

/*---------------Classes JavaScript---------------*/
/*---------------BODY---------------*/

body {
	background: url() top center no-repeat;
	background-size: cover;
	/*max-width: 1440px;*/
	width: 100%;
	margin: 0 auto;
}
/*---------------HEADER---------------*/

header {
	background: #000;
	width: 100%;
	padding: 10px 0;
}

header .logo {
	background: red;
	display: inline-block;
	width: 25%;
}

header nav {
	display: inline-block;
	width: 74%;
}

header nav ul {
	list-style: none;
	width: 100%;
}

header nav ul li {
	display: inline-block;
	float: right;
	/*width: 33%;*/
}

header nav ul li a {

} 

header nav ul li a img {
	display: block;
	margin: 0 auto;
	max-width: 100px;
	width: 100%;
	transition: .3s ease-in-out;
}

header nav ul li a:hover img {
	/*transform: scale(1.1) rotate(3deg);*/
	transform: scale(1.1);
	/*box-shadow: 5px 5px 6px black;
	border: 1px solid grey;
	margin-top: -100px;*/
}

/*---------------MAIN---------------*/

main {
	
}

main section {
	height: 100vh;
}
	/*---------------Artist---------------*/
	h1{
	    font-family: Avenir Next;
		font-size: 50px;
		text-align: center;
		color: black;
		padding-bottom: 3%;
	    font-weight: bold;
	}

	.info {
		display: flex;
	    justify-content: center;
	    flex-direction: row;
	    flex-wrap: wrap;
	    width: 100%;
	}

	.img-bio {
	    padding: 2%;
	    
	}

	.bio {
	    width: 40%;
	    padding: 3%;
	}

	.bio p {
	    color: grey;
	    /*padding: 2%;*/
	    font-family: Times;
	}

	.quote {
		background-color: black;
	}

	.quote p { 
		color: white;
		text-align: center;
		font-size: 14px;
		padding: 70px;
	    font-family: Times;
	}

	#gallery{
		-webkit-column-count:4;
		-moz-column-count:4;
		column-count:4;

		-webkit-column-gap:20px;
		-moz-column-gap:20px;
		column-gap:20px;
    
	    max-width: 900px;
	    margin: 0 auto;
	    padding: 100px;
	}

	.card{
		width:100%;
		height:auto;
		margin: 4% auto;
		box-shadow:-3px 5px 15px #000;
		cursor: pointer;
	}

	.modal-img,.model-vid{
		width:100%;
		height:auto;
	}

	.modal-body{
		padding:0px;
	}
	/*---------------Concept---------------*/
	section.about {
		position: relative;
		border-bottom: 50px solid black;
	}

	section div.content {
		position: absolute;
		width: 65%;
		top: 20%;
		left: 50%;
		transform: translate(-50%, 50%);
	}

	section div.content img {
		width: 50%;
		float: left;
	}

	section div.content .text 	 {
		line-height: 1.8;
		width: 46%;
		float: left;
		margin-left: 4%;
	}

	section.maps {
		position: relative;
	}

	#maps h2 {
		text-align: center;
		padding-bottom: 20px;
	}

	section.maps #maps {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	/*---------------Expositions---------------*/
	.current-exb {
	    text-align: center;
	    padding: 40px;
	}
	.next-exb {
		max-width: 1300px; 
	}
	.details {
	    float: right;
	/*    width: 50%;*/
	    text-align: center;
	    margin-top: 10%;
	    padding: 30px;
	    
	}
	img .next {
	    padding: 40px;
	    float: left;
	/*    width: 50%;*/
	    
	}
	.quote {
	    background-color: black;
	    padding: 50px;
	}
	h2 {
	    text-align: center;
	    font-size: 24px;
	    font-weight: bold;
	    padding: 10px;
	}
	p {
	    text-align: center;
	}
/*---------------FOOTER---------------*/

footer {
	background-color: black;
	width: 100%;
    padding: 50px 0;
}
footer p {
	color: white;
    text-align: center;
}	

/*---------------BREAKPOINTS---------------*/