* {
	padding: 0;
	margin: 0;
}
/*---------------Classes Générales---------------*/

.cf:before,
.cf:after {
	display: table;
	content: " ";
}
.cf:after {
	clear: both;
}

/*---------------Classes JavaScript---------------*/
/*---------------BODY---------------*/

body {
	background: url() top center no-repeat;
	background-size: cover;
	/*max-width: 1440px;*/
	width: 100%;
	margin: 0 auto;
}
/*---------------HEADER---------------*/

header {
	background: #000;
	width: 100%;
	padding: 10px 0;
}

/*header .logo {
	width: 25%;
}*/

header nav {
	width: 100%;
}

header nav ul {
	list-style: none;
	width: 100%;
}

header nav ul li {
	display: inline-block;
	width: 24%;
}

header nav ul li a {

} 

header nav ul li a img {
	display: block;
	margin: 0 auto;
	max-width: 100px;
	width: 100%;
	transition: .3s ease-in-out;
}

header nav ul li a:hover img {
	/*transform: scale(1.1) rotate(3deg);*/
	transform: scale(1.1);
	/*box-shadow: 5px 5px 6px black;
	border: 1px solid grey;*/
	margin-top: -100px;
}

/*---------------MAIN---------------*/

main {
	
}

main section {
	height: 100vh;
}
	/*---------------Article---------------*/
	/*---------------Concept---------------*/
	section.about {
		position: relative;
	}

	section div.content {
		position: absolute;
		width: 65%;
		top: 20%;
		left: 50%;
		transform: translate(-50%, 50%);
	}

	section div.content img {
		width: 50%;
		float: left;
	}

	section div.content .text 	 {
		line-height: 1.8;
		width: 46%;
		float: left;
		margin-left: 4%;
	}

	section.maps {
		position: relative;
	}

	#maps h2 {
		text-align: center;
		padding-bottom: 20px;
	}

	section.maps #maps {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	/*---------------Expositions---------------*/
/*---------------FOOTER---------------*/

footer {
	background-color: black;
	width: 100%;
    padding: 50px 0;
}
footer p {
	color: white;
    text-align: center;
}	

/*---------------BREAKPOINTS---------------*/

